<!DOCTYPE html>
<html>
<head>
    <title>Inventory Order Management</title>
</head>
<body>

    <h1>Inventory Order Management System</h1>

    <h2>Dashboard</h2>
    <a href="/customers">
        <button>Add Customer</button>
    </a>

    <a href="/customers">
        <button>View Customers</button>
    </a>

    <a href="/products">
        <button>Add Product</button>
    </a>

    <a href="/products">
        <button>View Products</button>
    </a>

    <a href="/orders">
        <button>Add Order</button>
    </a>

    <a href="/orders">
        <button>View Orders</button>
    </a>

    <a href="/sales_report">
        <button>Sales Report</button>
    </a>

   
</body>
</html>